.procedure {
	text-align: center;
	padding-top: 80px;
	height: 550px;
}
.procedure h2 {
	margin-bottom: 60px;
}
.step {
	width: 210px;
	text-align: center;
	margin: 0 30px;
}
.step img {
	margin-bottom: 30px;
}


