.program {
	background-image: url(../img/program-bg.png);
	background-size: cover;
	height: 556px;
	text-align: center;
}
.context {
	width: 650px;
	position: relative;
	margin: 0 auto;
	padding-top: 60px;

}