.content {
	height: 600px;
}
.content>.container>img {
	margin-top: 100px;
	margin-right: 50px;
	float: left;
}
.content>.container {
	width: 100%;
}
.content .quotation {
	padding-top: 100px;
}
.content h1{
	padding-bottom: 30px;
}