.clients {
	height: 710px;
	padding-top: 270px;
	text-align: center;
}
.clients img {
	margin-top: 50px;
}
.clients span {
	background-color: $primary-1;
}
.carusel-text {
	width: 600px;
	position: relative;
	margin: 0 auto;
}