@font-face {
    font-family: 'OpenSansBI';
    src: url('../../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansB';
    src: url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans500';
    src: url('../../fonts/MuseoSans-500.woff2') format('woff2'),
        url('../../fonts/MuseoSans-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansEB';
    src: url('../../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../../fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsR';
    src: url('../../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansSBI';
    src: url('../../fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansL';
    src: url('../../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansEBI';
    src: url('../../fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsSB';
    src: url('../../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsL';
    src: url('../../fonts/Poppins-Light.woff2') format('woff2'),
        url('../../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansR';
    src: url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins.woff2') format('woff2'),
        url('../../fonts/Poppins.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansI';
    src: url('../../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsM';
    src: url('../../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansLI';
    src: url('../../fonts/OpenSans-LightItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansSB';
    src: url('../../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsB';
    src: url('../../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

